{% extends "layout/layout.html" %}

{% block content %}
    <h1 class="text-center mb-4">Registrarse</h1>

    <div class="row">
        <div class="container">
            <div class="col-md-8 m-auto formulario">
                {% if errores %}
                    <div class='alert alert-danger mt-2' role='alert'>
                        <p>Corriga los siguientes errores:</p>
                        <ul>
                            {% for error in errores %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if status %}
                    <div class='alert alert-success mt-2' role='alert'>
                        <p>{{status}}</p>
                    </div>
                {% endif %}
                <form action="/registrarse" method="post">
                    <div class="d-md-flex">
                        <div class="form-group col-md-6 pl-md-0">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese nombre">
                        </div>
                        <div class="form-group col-md-6 pr-md-0">
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Ingrese su nombre">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Ingrese su email">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form-group">
                        <label for="password_repet">Confirme su contraseña</label>
                        <input type="password" name="password_repet" id="password_repet" class="form-control" placeholder="Vuelva a ingresar su contraseña">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Registrarme">
                </form>
            </div>
        </div>
    </div>

{% endblock %}